{#

    Plantilla para la página de la biografía
    Hija de "base.html"

    Prácticas de SIBW
    Curso 2022/2023
    Autor: Luis Miguel Guirado Bautista
    Universidad de Granada

    https://github.com/lu1smgb/SIBW

#}

{% extends "base.html" %}

{% block estilo %}
    {% if imprimir %}
        <link rel="stylesheet" href="../assets/css/imprimir.css">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const banned = {{ data.palabras | json_encode | raw }};
    </script>
    <script src="../assets/js/PanelComentarios.js" defer></script>
{% endblock %}

{% block panelPrincipal %}
    <!-- Panel de cientificos -->
    <div id="panel-biografia">

        <!--Barra de busqueda-->
        {% if data.user.tipo == 'Gestor' or data.user.tipo == 'Administrador' %}
        <form action="../lista_cientificos.php" method="post">
            <input type="search" name="search" placeholder="Búsqueda">
        </form>
        {% endif %}

        <!-- Imagenes adjuntas a la biografia -->
        <div class="pila-imagenes">
            {% for imagen in data.imagenes %}
            <div class="cientifico">
                <img src="../assets/images/{{ imagen.enlace }}" alt="{{ imagen.enlace }}">
                <p>{{ imagen.descripcion }}</p>
            </div>
            {% endfor %}
        </div>
        
        <h2>{{ data.cientifico.nombre }}</h2>
        <h3>{{ data.cientifico.fechaNacimiento }} - {{ data.cientifico.fechaDefuncion }}</h3>
        <h4>{{ data.cientifico.lugarOrigen }}</h4>
        <!-- El contenido queda en un parrafo? Quitar bloque para que el texto se considere codigo HTML? -->
        {{ data.cientifico.biografia }}

        {% if data.hashtags is not empty %}
        <h5>Hashtags:</h5>
        <ul style="list-style: none;">
            {% for hashtag in data.hashtags %}
                <li>#{{ hashtag.nombre }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Botones sociales -->
        <!-- FB, TW e Imprimir -->
        <div class="botones-sociales">
            {% for social in data.sociales %}
                <button type="button" onclick="location.href = '{{ social.enlace }}'">{{ social.nombre }}</button>
            {% endfor %}
            <button type="button" onclick="location.href = '../cientifico.php?id={{ data.id }}&imprimir=true';">Imprimir</button>
            <button type="button" id="boton-comentarios"><img src="../assets/images/comentarios.gif"></button>
            {% if data.user.tipo == 'Gestor' or data.user.tipo == 'Administrador' %}
            <button type="button" id="boton-comentarios" onclick="location.href = '../editar_cientifico.php?id={{ data.id }}';"><img style="filter: invert(1);"src="../assets/images/edit.png"></button>
            <button type="button" id="boton-comentarios" onclick="location.href = '../borrar_cientifico.php?id={{ data.id }}';"><img style="filter: invert(1);"src="../assets/images/delete.png"></button>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block panelComentarios %}
    <div id="panel-comentarios">
        <strong id="contador-comentarios">- comentarios</strong>
        <div id="vista-comentarios">
            <!-- Lista de comentarios -->
            {% for comentario in data.comentarios %}
            <div class="comentario">
                <strong class="nombre">{{ comentario.nombre }}</strong>
                <strong class="fecha">{{ comentario.fecha }}</strong>
                {% if comentario.moderado %}
                <i>Mensaje editado por el moderador</i>
                {% endif %}
                <p class="texto">{{ comentario.texto }}</p>
                {% if data.user.tipo == 'Moderador' or data.user.tipo == 'Administrador' or data.user.email == comentario.email %}
                <div class="botones-comentarios">
                    <a href="editar_comentario.php?id={{ comentario.id }}">
                        <img src="assets/images/edit.png" alt="Editar comentario">
                    </a>
                    <a href="borrar_comentario.php?id={{ comentario.id }}">
                        <img src="assets/images/delete.png" alt="Borrar comentario">
                    </a>
                </div>
                {% endif %}
            </div> 
            {% endfor %}
        </div>
        <form id="form-comentarios" name="form-comentarios" action="publicar_comentario.php?id={{ data.cientifico.id }}" method="post">
            {% if data.user is not empty %}
                <strong>Publica tu comentario</strong>
                <textarea name="texto" placeholder="Escribe aquí..."></textarea>
                <input type="submit" value="Enviar">
            {% else %}
                <strong>Inicia sesión para publicar comentarios</strong>
            {% endif %}
        </form>
    </div>
{% endblock %}