{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
        const banned = {{ data.palabras | json_encode | raw }};
    </script>
    <script src="../assets/js/EditarComentario.js" defer></script>
{% endblock %}

{% block panelPrincipal %}
    <div id="panel-biografia">
        {% for error in errors %}
            <p style="color: #f00;">{{error}}</p>
        {% endfor %}
        {% if data.user.tipo != 'Administrador' or data.user.tipo != 'Moderador' or data.user.id != data.comentario.id_usuario %}
        <h1>Editar comentario</h1>
        <form action="../editar_comentario.php?id={{ data.comentario.id }}" method="post">
            {{ data.comentario.nombre_usuario }} comentó en {{ data.comentario.nombre_cientifico }} a las {{ data.comentario.fecha }}<br>
            Contenido del comentario:<br>
            {# TODO: Añadir javascript del panel de comentarios #}
            <textarea rows="5" cols="70" name="texto" id="textarea">{{ data.comentario.texto }}</textarea><br>
            <input type="submit" value="Cambiar">
        </form>
        {% endif %}
    </div>
{% endblock %}